@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap");

h1 {
  font-family: "Fredoka One", cursive;
  color: #f8f8f2; /* Dracula foreground color */
}

body {
  text-align: center;
  font-family: Lato;
  display: grid;
  background: #282a36; /* Dracula background color */
  color: #f8f8f2; /* Dracula foreground color */
}

form {
  width: 80%;
  margin: auto;
}

label {
  float: left;
  width: 50%;
}

input,
textarea {
  float: left;
  width: 50%;
  margin: 10px;
  padding: 10px;
  background: #44475a; /* Dracula selection color */
  font-family: Lato;
  border: none;
  color: #f8f8f2; /* Dracula foreground color */
}

fieldset {
  margin: 10px;
  font-weight: bold;
  background: #282a36; /* Dracula background color */
  color: #f8f8f2; /* Dracula foreground color */
  border: 1px solid #6272a4; /* Dracula comment color */
}

button {
  background: #bd93f9; /* Dracula keyword color */
  font-size: 15px;
  padding: 10px;
  border: none;
  float: right;
  color: #f8f8f2; /* Dracula foreground color */
}

legend {
  background: #bd93f9; /* Dracula keyword color */
  padding: 5px;
  color: #f8f8f2; /* Dracula foreground color */
}
